<div *ngIf="(diagrams !== undefined && diagrams.length > 0)" class="row gx-0 w-100 p-sm-5">
    <table class="table table-striped h-0">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-end">State</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diagram of diagrams" [class.table-success]="diagram.state === diagramState.Aprobado" [class.table-warning]="diagram.state === diagramState.Pendiente" [class.table-danger]="diagram.state === diagramState.Rechazado">
                <th scope="row">{{diagram.id_diag}}</th>
                <td>{{diagram.name_diag}}</td>
                <td class="text-end">{{diagramStateMapping[diagram.state]}}</td>
            </tr>
        </tbody>
    </table>
    <div></div>
</div>
<div *ngIf="(diagrams !== undefined && diagrams.length === 0)"
    class="d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-0 flex-column">
    <p>No diagrams match those filters.</p>
    <button class="btn btn-primary" (click)="onAddNewDiagram()">Add New Diagram</button>
</div>
<div *ngIf="(diagrams === undefined)"
    class="d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-0 flex-column">
    <p>Loading diagrams.</p>
</div>
