
<app-users-admin *ngIf="(total !== undefined && total > 0) && !this.error"></app-users-admin>
<div *ngIf="(total !== undefined && total === 0) && !this.error"
    class="d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-0 flex-column">
    <p>There are no users in our database... yet. Create one!</p>
    <a class="btn btn-primary" (click)="createNewUser();">Create a new user</a>
</div>
<div *ngIf="(total === undefined) && !this.error"
    class="d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-0 flex-column">
    <p>Loading users.</p>
</div>
<div *ngIf="this.error"
    class="d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-0 flex-column">
    <p>There was an error loading users ({{this.error}}).</p>
    <a class="btn btn-primary" (click)="this.refresh();">Try again</a>
</div>
